<mat-card appearance="outlined" class="py-4 px-4">
  <div class="d-inline-flex py-2">

    <mat-label class="my-auto">Username</mat-label>
    <mat-card-title class="mx-4 py-4">{{ username }}</mat-card-title>
  </div>
  <div class="d-inline-flex py-2">
    <mat-label class="my-auto"> Email</mat-label>
    <mat-card-title class="mx-4 py-4">{{ email }}</mat-card-title>
  </div>
  <div class="d-inline-flex py-2">
    <mat-label class="my-auto">First Name</mat-label>
    <mat-card-title class="mx-4 py-4">{{ firstName }}</mat-card-title>
  </div>
  <div class="d-inline-flex py-2">
    <mat-label class="my-auto">Last Name</mat-label>
    <mat-card-title class="mx-4 py-4">{{ lastName }}</mat-card-title>
  </div>
</mat-card>
