<div class="container py-4 text-center">
  <div class="row py-2">
    <div class="col">
      <mat-tab-group [(selectedIndex)]="index" [dynamicHeight]="true">
        <mat-tab label="Movies">
          @if (movies.length > 0) {
            <div class="row">
              @for (movie of movies; track movie) {
                <app-movie-card [movie]="movie"></app-movie-card>
              }
            </div>
          } @else {
            <mat-spinner color="primary" diameter="200" class="mx-auto"/>
          }
        </mat-tab>
        <mat-tab label="Projections">
          @if (projections.length > 0) {
            <div class="row">
              @for (projection of projections; track projection) {
                <app-projection-card [projection]="projection"></app-projection-card>
              }
            </div>
          } @else {
            <mat-spinner color="primary" diameter="200" class="mx-auto"/>
          }
        </mat-tab>
        <mat-tab label="Your Catalog"> Content 3</mat-tab>
      </mat-tab-group>
    </div>

  </div>
</div>
